name: Pipeline

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
  workflow_dispatch:

jobs:
  ngrok:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do C贸digo
        uses: actions/checkout@v3

      - name: Baixar e configurar ngrok
        run: |
          curl -o ngrok.zip https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
          unzip ngrok.zip
          ./ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
          chmod +x ngrok
          sudo mv ngrok /usr/local/bin/ngrok

      - name: Iniciar ngrok
        run: |
          ngrok http 4200  # Substitua 4200 pela porta que deseja expor


  build:
    runs-on: ubuntu-latest
    needs: ngrok
    steps:
      - name: Checkout do C贸digo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker to push image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/moments:${{ github.run_id }} ./
          docker push ${{ secrets.DOCKER_USERNAME }}/moments:${{ github.run_id }}

  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do C贸digo
        uses: actions/checkout@v3

      - name: Executar Testes SAST
        uses: AppThreat/sast-scan-action@master
        with:
          type: nodejs

      - name: Enviar Relat贸rios de SAST como Artefatos
        uses: actions/upload-artifact@v1
        with:
          name: reports
          path: ./reports
