name: Pipeline

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker to push image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/moments:${{ github.run_id }} ./
          docker push ${{ secrets.DOCKER_USERNAME }}/moments:${{ github.run_id }}

  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v3

      - name: Executar Testes SAST
        uses: AppThreat/sast-scan-action@master
        with:
          type: nodejs

      - name: Enviar Relatórios de SAST como Artefatos
        uses: actions/upload-artifact@v1
        with:
          name: reports
          path: ./reports

  deploy:
    needs: test-job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v3

      - name: Instalar ngrok
        run: |
          wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
          unzip ngrok-stable-linux-amd64.zip 
          sudo mv ngrok /usr/local/bin/ngrok 
          chmod +x /usr/local/bin/ngrok  # Conceder permissões de execução

      - name: Atualizar ngrok
        run: /usr/local/bin/ngrok update  # Atualizar ngrok para a versão mais recente
  
      - name: Configurar authtoken do ngrok
        run: /usr/local/bin/ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
  
      - name: Executar ngrok para fazer deploy
        run: /usr/local/bin/ngrok http 4200
